@tailwind base;
@tailwind components;
@tailwind utilities;






/* Nike Font */
@font-face {
  font-family: "Nike TG";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nike-TG.woff2") format('woff2'),
       url("/fonts/Nike-TG.woff") format('woff'),
       url("/fonts/Nike-TG.ttf") format('truetype');
}

@font-face {
  font-family: "Nike Futura ND";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nike-Futura-ot-300.woff2") format('woff2'),
       url("/fonts/Nike-Futura-ot-300.woff") format('woff'),
       url("/fonts/Nike-Futura-ot-300.ttf") format('truetype');
}

@font-face {
  font-family: "Nike Futura";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nike-Futura.woff2") format('woff2'),
       url("/fonts/Nike-Futura.woff") format('woff'),
       url("/fonts/Nike-Futura.ttf") format('truetype');
}

@font-face {
  font-family: "Helvetica Now Text";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/HelveticaNowText.woff2") format('woff2'),
       url("/fonts/HelveticaNowText.woff") format('woff'),
       url("/fonts/HelveticaNowText.ttf") format('truetype');
}

@font-face {
  font-family: "Helvetica Now Text Medium";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/HelveticaNowTextMedium.woff2") format('woff2'),
       url("/fonts/HelveticaNowTextMedium.woff") format('woff'),
       url("/fonts/HelveticaNowTextMedium.ttf") format('truetype');
}

@font-face {
  font-family: "Helvetica Now Display Medium";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/HelveticaNowDisplayMedium.woff2") format('woff2'),
       url("/fonts/HelveticaNowDisplayMedium.woff") format('woff'),
       url("/fonts/HelveticaNowDisplayMedium.ttf") format('truetype');
}

@font-face {
  font-family: "Palatino LT Pro Light";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/PalatinoLTPro-Light.woff2") format('woff2'),
       url("/fonts/PalatinoLTPro-Light.woff") format('woff'),
       url("/fonts/PalatinoLTPro-Light.ttf") format('truetype');
}


html, body{
  font-family: 'Helvetica Now Display Medium', Helvetica, Arial, sans-serif;
} 
p{
  font-family: 'Helvetica Now Text', Helvetica, Arial, sans-serif;;
}

/* Super thin scrollbar - only thumb visible */
.super-thin-scrollbar {
  
  scrollbar-width: thin;             /* Firefox */
  scrollbar-color: #f5f5f5 transparent; /* Firefox */
}

/* WebKit (Chrome, Edge, Safari) */
.super-thin-scrollbar::-webkit-scrollbar {
  height: 2px;
}

.super-thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.super-thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}

/* for modal of productdetailpage */

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out;
}

@keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}

.animate-fade-in-out {
  animation: fade-in-out 4s ease-in-out forwards;
}


.topbar-font {
  font: 500 0.75rem/1.5 'Helvetica Now Text Medium', Helvetica, Arial, sans-serif;
}



 /* ----------------- HomePage Video Carousel --------------------- */
 fieldset, h1, h2, h3, h4, h5, h6, label, legend, li, p, span, strong, ul {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
 /* for Desktop */
 .css-p61h82 {
    font: var(--podium-cds-typography-960-to-1919-display2);
    color: var(--podium-cds-color-text-primary-inverse);
    text-transform: uppercase;
    font-weight: 500;
    display: undefined;
}

.css-of85v2 {
    font: var(--podium-cds-typography-body1);
    color: var(--podium-cds-color-text-primary-inverse);
    display: undefined;
}

.mt2-sm {
    margin-top: 8px;
}

@media (max-width: 959px) {
    .css-p61h82 {
        font: var(--podium-cds-typography-320-to-959-display2);
        color: var(--podium-cds-color-text-primary-inverse);
      text-transform: uppercase;
    }

    .mt2-sm {
    margin-top: 8px;
}
}


 /* ----------------- Featured.jsx --------------------- */

 /* for Desktop */

.vVtA7wL6 {
    margin-bottom: 8px;
}
.css-1kh06ln {
    font: var(--podium-cds-typography-body1-strong);
    color: var(--podium-cds-color-text-primary-inverse);
    display: undefined;
}

._1MF91zHG {
    font-weight: 500;
}
.css-117kv6g {
    font: var(--podium-cds-typography-320-to-1919-title4);
    color: var(--podium-cds-color-text-primary-inverse);
    text-transform: none;
    font-weight: 500;
    display: undefined;
}

._17O3hgwI {
    width: 100%;
}

@media only screen and (min-width: 960px) {
    ._2PzKMD0A {
        margin-left: 48px;
        margin-right: 48px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 959px) {
   ._2PzKMD0A {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 20px;
}
}



.css-14baf2u {
    font: var(--podium-cds-typography-320-to-1919-title3);
    color: var(--podium-cds-color-text-primary);
    text-transform: none;
    display: undefined;
}


 /* ----------------- ProductThumbnailSlider.jsx --------------------- */

.css-196t8ag {

    color: var(--podium-cds-color-text-primary);
    font-weight: 500;
}

.css-ej30wz {
    font: var(--podium-cds-typography-body1);
    color: var(--podium-cds-color-text-secondary);
}