@tailwind base;
@tailwind components;
@tailwind utilities;





@font-face {
    font-display: swap;
    font-family: "AdihausDIN";
    font-style: normal;
    font-weight: normal;
    src: url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/AdihausDIN-Regular.woff2") format("woff2"),url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/AdihausDIN-Regular.woff") format("woff")
}

@font-face {
    font-display: swap;
    font-family: "AdihausDIN";
    font-style: normal;
    font-weight: 700;
    src: url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/AdihausDIN-Bold.woff2") format("woff2"),url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/AdihausDIN-Bold.woff") format("woff")
}

@font-face {
    font-display: swap;
    font-family: "AdihausDIN Cn";
    font-style: normal;
    font-weight: 500;
    src: url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/AdihausDIN-CnMediumItalic.woff2") format("woff2"),url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/AdihausDIN-CnMediumItalic.woff") format("woff")
}

@font-face {
    font-display: swap;
    font-family: "AdineuePRO";
    font-style: normal;
    font-weight: 400;
    src: url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/adineuePRO-Regular.woff2") format("woff2"),url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/adineuePRO-Regular.woff") format("woff")
}

@font-face {
    font-display: swap;
    font-family: "AdineuePRO";
    font-style: normal;
    font-weight: 700;
    src: url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/adineuePRO-Bold.woff2") format("woff2"),url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/adineuePRO-Bold.woff") format("woff")
}

@font-face {
    font-display: swap;
    font-family: "adidasFG";
    font-style: normal;
    font-weight: 700;
    src: url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/adidasFG-CompressedBold.woff2") format("woff2"),url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/adidasFG-CompressedBold.woff") format("woff")
}

@font-face {
    font-display: swap;
    font-family: "Denton";
    font-style: normal;
    font-weight: 400;
    src: url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/DentonLight.woff2") format("woff2"),url("https://esm.glass.adidas.com/@adl/typography@1.1.0/fonts/DentonLight.woff") format("woff")
}

html, body, p {
  font-family: "AdihausDIN", sans-serif;
}

/* Super thin scrollbar - only thumb visible */
.super-thin-scrollbar {
  
  scrollbar-width: thin;             /* Firefox */
  scrollbar-color: #000 transparent; /* Firefox */
}

/* WebKit (Chrome, Edge, Safari) */
.super-thin-scrollbar::-webkit-scrollbar {
  height: 2px;
}

.super-thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.super-thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 10px;
}